<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <form method="post" action="/login">
        <input name="j_username"/>
        <input type="password" name="j_password"/>
        <input type="submit"/>

        <div th:if="${param.error}" style="color: red">
            Неправильное имя или пароль
        </div>

    </form>
    <p> admin - admin</p>
    <p> user2 - user2</p>

</div>
</body>
</html>